<% include header.ejs %>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-1 control-label">标题</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputTopic" placeholder="标题">
        </div>
        <button type="button" class="btn btn-info">提交</button>
    </div>
</form>
<textarea class="form-control" rows="60"></textarea>
<% include footer.ejs %>